
    <% @creatures.each do |creature| %>

     <div>  
            <h4>Name:</h4> <%= creature.name %> <br>
            <h4>Description:</h4> <%=  creature.description %>
          	<a href="/creatures/<%=creature.id%>">Creature's Page</a> 

          	<%= button_to "Delete", creature, method: :delete %>

    </div>   

    <% end %>
