<!DOCTYPE html>
<html>
<head>
  <title>BogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="bck-image">
<div class ="navbar">
<ul>
<li><a href="/creatures/new">Create A New Creature?</a></li>
<li><a href="/creatures/">Home</a></li><br>
</ul>
</div>
<%= yield %>

</body>
</html>
